.liquidity-management-box {
    position: relative; /* Ensure the close button is positioned relative to this box */
    width: 100%;
    max-width: 450px;
    background-color: #ffffff;
    padding: 40px 30px 30px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    margin: 0 auto;
}

.liquidity-management-close-button {
    position: absolute;
    top: -20px; /* Adjust this value to move it inside the box */
    right: -20px; /* Adjust this value to move it inside the box */
    width: 40px; /* Smaller button to fit better */
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    line-height: 40px; /* Align the "X" vertically */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 25px;
    z-index: 5;
}
.liquidity-management-close-button:hover {
    background-color: #45a049;
}

/* Tab Navigation Styling */
.liquidity-management-tab {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    width: 100%;
}

.liquidity-management-tab button {
    margin-top: 15px;
    background-color: #F1F0EA;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
    border-radius: 0;
    color: #333;
}

.liquidity-management-tab button:first-child {
    border-radius: 10px 0 0 10px;
}

.liquidity-management-tab button:last-child {
    border-radius: 0 10px 10px 0;
}

.liquidity-management-tab button.active {
    background-color: #4CAF50;
    color: white;
}

.liquidity-management-tab button:not(.active):hover {
    background-color: #ccc;
}

.liquidity-management-tabcontent {
    width: 100%;
    display: none;
    padding: 0px 20px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
}


/* Input Group Styling */
.liquidity-management-input-group {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Label Wrapper Styling */
.liquidity-management-label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* Input Label Styling */
.liquidity-management-input-label {
    font-size: 16px;
    color: #333;
    margin-right: 8px;
}

/* Input Wrapper Styling */
.liquidity-management-input-wrapper {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ccc;
    position: relative;
    width: 100%;
}

/* Input Logo Styling */
.liquidity-management-input-logo {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    position: absolute;
    left: 10px;
}

/* Swap Input Styling */
.liquidity-management-input {
    background-color: #F1F0EA;
    width: 100%;
    padding: 15px 15px 15px 50px;
    font-size: 16px;
    border: none;
    text-align: right;
    border-radius: 8px;
    -moz-appearance: textfield;
}

.liquidity-management-swap-input::-webkit-outer-spin-button,
.liquidity-management-swap-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Swap Result Styling */
.liquidity-management-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

/* Expandable Details Section */
.liquidity-management-expandable-info summary {
    cursor: pointer;
    margin-top: 20px;
    outline: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.liquidity-management-chevron-icon {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.liquidity-management-expandable-info[open] .liquidity-management-chevron-icon {
    transform: rotate(180deg);
}

.liquidity-management-button {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.provide-liquidity-button:hover {
    background-color: #45a049;
}

/* Add styling for token balance display */
.balance-label {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    flex-grow: 1; /* Allow the balance text to take up available space */
    text-align: right; /* Align balance text to the right */
}
